@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins";
}

nav {
  background-color: #F5EDCE;
  background-color: #507730;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
nav ul li {
  padding: 8px 16px;
}
@media screen and (min-width: 642px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
}

.error, .error--serious {
  border: 1px red;
  background-color: rgb(255, 194, 194);
}
.error--serious {
  font-weight: bold;
  border-width: 3px;
}

#contents {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  box-sizing: border-box;
  padding: 80px 0;
}
#contents .box {
  width: max(50%, 100px);
  height: max(50vh, 100px);
  border-radius: 50%;
  background-color: #58287F;
}
@media screen and (min-width: 642px) {
  #contents {
    flex-direction: row;
  }
  #contents .box {
    width: 25%;
    height: 300px;
    border-radius: 0%;
  }
}

#text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  gap: 64px;
  background-color: #89C4E1;
}
#text-container .text-box {
  background-color: white;
  width: 80%;
  height: 300px;
}
@media screen and (min-width: 642px) {
  #text-container {
    flex-direction: row;
  }
  #text-container .text-box {
    width: 40%;
  }
}

#testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  gap: 32px;
  background-color: #1A0000;
}

.default-box, .active-box {
  width: 80%;
  max-width: 500px;
  height: 400px;
  background-color: #F5EDCE;
  border: 1px solid #58287F;
  color: #1A0000;
  font-size: 60px;
  padding: 32px;
}
.default-box:hover, .active-box:hover {
  background-color: #89C4E1;
}

.active-box {
  background-color: #58287F;
  color: #F5EDCE;
}
.active-box:hover {
  background-color: #507730;
}/*# sourceMappingURL=main.css.map */